

.clock {
    position: absolute;
    opacity: 1;
}

.fill .clock {
    right: 10%;
    top: 120px;
    background-image: url("https://p6.douyinpic.com/obj/toutiao.cg.fiji/c1sl6l96rh75dvvmg2n0.png");
    background-repeat: no-repeat;
    background-position: center 300;
    width: 1000px;
    height: 1000px;
}
